

<%- include("partials/header.ejs") %>  


    <div class="about">
        <h1>About Klv Kingdom Pvt.Ltd</h1>

        <p>Incorporated in 2018 in Vijayawada, Andhra Pradesh under MINISTRY OF CORPORATE AFFAIRS and also registered in MSME and GST. We are also located in Telangana. KLV Kingdom Pvt. Ltd. is one of the upcoming Multi Service Private Limited Company in India.</p>
        
          <p>  Since the commencement of the business, our company has been a Quality Conscious Company as it helps in creating trust of the company in the market. We have set our goals very high, keeping in the mind our customers, vision and driven by determination we completed a couple of our projects in record time. Our company is dedicated to provide superior quality and service that adheres to international standards. We take great pride in offering international standard products, exceptional services, and a wide product range. For us the single most important thing is customer satisfaction. We have in house highly talented & experienced employees.</p>
    </div>


    <div class="mission">
       <h1>Mission</h1>
       <p> Our mission is to provide Quality Materials at a fair price. We strongly believe in the

principles of Integrity and Honesty in all of our relationships. These values have been

our guiding lights on our road to excellence. We believe in unwavering commitment to customer satisfaction. </p>
    </div>


    <div class="vision">
        <h2>Vision</h2> 
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis est tellus, venenatis sed nisi in, egestas bibendum sem. Nam tempus dolor quis interdum auctor.</p>
     </div>
     

    <div class="whyus">
        <h2>Why Us</h2>
        <p>We always think from the customer point of view.</p>

          <p>   We provide Quality Materials at a fair price.</p>
            
          <p>   We value and respect all our customers and we do not differentiate between
            
            small or big. </p>
            
           <p>  We have a wide range of granites: tiles and slabs. </p>
            
           <p>  We also offer quartz stone.</p>
            
           <p>  Customers can choose from a palette of colors, finishes and textures. </p>
            
           <p>  We are capable of delivering different products from blocks to slabs and cut to
            
            size work. </p>
            
            <p>  We are equipped with the best machinery. The equipment includes, gang saws,
            
            wire saws, multi-head line polishing. </p>
            
            <p>  Our staff is highly experienced and talented. </p>
            
            <p>  Our USP is Best Quality, Timely Delivery and Prompt After- Sale Services.</p>
    </div>




<%- include("partials/footer.ejs") %>